<?xml version="1.0" ?>
<settings>
  <run_mode>eigenvalue</run_mode>
  <particles>5000</particles>
  <batches>100</batches>
  <inactive>10</inactive>
  <source particle="neutron" strength="1.0" type="independent">
    <space type="box">
      <parameters>-3 -3 -2.4 3 3 2.4</parameters>
    </space>
  </source>
  <max_lost_particles>10000</max_lost_particles>
  <rel_max_lost_particles>0.999</rel_max_lost_particles>
</settings>