<?xml version="1.0" ?>
<settings>
  <run_mode>eigenvalue</run_mode>
  <batches>1500</batches>
  <inactive>20</inactive>
  <particles>10000</particles>
  <source>
    <space>
      <type>box</type>
      <parameters>-.5 -.5 57.2 .5 .5 57.7</parameters>
    </space>
  </source>
  <max_lost_particles>1000000</max_lost_particles>
  <rel_max_lost_particles>0.999</rel_max_lost_particles>
</settings>