<?xml version='1.0' encoding='UTF-8'?>
<settings>
  <run_mode>eigenvalue</run_mode>
  <particles>1000</particles>
  <batches>10</batches>
  <inactive>5</inactive>
  <max_lost_particles>10000</max_lost_particles>
  <rel_max_lost_particles>0.999</rel_max_lost_particles>
  <source particle="neutron" strength="1.0" type="independent">
    <space type="box">
      <parameters>-160 -160 -183 160 160 183</parameters>
    </space>
  </source>
</settings>
