<?xml version="1.0" ?>
<settings>
  <run_mode>eigenvalue</run_mode>
  <batches>520</batches>
  <inactive>20</inactive>
  <particles>10000</particles>
  <source>
    <space type="point" parameters="0 0 0"/>
  </source>
  <max_lost_particles>10000</max_lost_particles>
  <rel_max_lost_particles>0.999</rel_max_lost_particles>
</settings>