<?xml version="1.0" ?>
<settings>
  <run_mode>eigenvalue</run_mode>
  <batches>20</batches>
  <inactive>10</inactive>
  <particles>10000</particles>
  <source particle="neutron" strength="1.0" type="independent">
    <space type="box">
      <parameters>-1 -1 -1  1  1  1</parameters>
    </space>
  </source>
  <max_lost_particles>10000</max_lost_particles>
  <rel_max_lost_particles>0.999</rel_max_lost_particles>
</settings>